:root {
  --bg-dark: #1d1f24;
  --bg-light: #343a40;
  --bg-input: #31343d;
  --my-green: #74b476;
}

.main {
  background-color: var(--bg-dark);
  color: white;
}

.App {
  text-align: center;
}

.navbar {
  background-color: var(--bg-dark);
  min-width: 100%;
  color: var(--my-green);
}

#navbar-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.nav-item {
  flex-grow: 1;
  flex-basis: auto;
  vertical-align: center;
  text-align: center;
  align-items: center;
}

.nav-item-link {
  text-align: center;
  display: inline-block;
}

.register-btn {
  background-color: var(--my-green);
  margin: 10px;
  max-width: 200px;
}

.log-in-btn {
  background-color: #1d1f24;
  border: 1px solid #787878;
  margin: 10px;
  max-width: 200px;
  color: white;
}

#login-register {
  vertical-align: center;
}

.logo_svg {
  height: 120px;
  width: 120px;
}

.side-column {
  height: 1000px;
}

.main-column {
  height: 1000px;
  background-color: rgba(29, 31, 36, 0.95);
  color: white;
}

#section-1 {
  margin: 0;
  width: 100%;
  background-image: url("./bg1.jpg");
  background-size: cover;
}

a {
  color: #618ccc;
}

input {
  background-color: var(--bg-input);
  color: white;
}

.input-field {
  border-radius: 3px;
  border: solid 1px grey;
  margin: 5px;
  padding-left: 10px;
  width: 100%;
  align-items: stretch;
  transition: background-color ease 0.3s;
}

.submit-btn {
  background-color: var(--my-green);
}

#invalid-input-alert {
  opacity: 0;
  color: #ff5d5d;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

hr {
  margin: 1rem 0;
  background-color: white;
  color: white;
  opacity: 0.25;
}

.sidebar-item button {
  margin: 10px;
  border: 0;
  color: white;
  font-size: 20px;
  height: 100%;
  width: 100%;
  text-align: left;
  transition: color ease 0.2s;
  background-color: var(--bg-light);
}

.sidebar-item svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.sidebar-item button:hover {
  color: var(--my-green);
}

.hidden {
  display: none;
}

.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-header {
  text-align: center;
  padding: 15px 30px;
  border: 0;
}

.modal-header h1 {
  width: 100%;
}

.modal-content {
  max-width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: var(--bg-dark);
}

.input-pack {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-label label {
  display: flex;
  align-items: center;
  line-height: 20px;
  margin: 0;
}

.btn-chosen {
  background-color: var(--my-green);
  color: black;
}

.btn-required {
  border: solid 1px indianred;
}

.table-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.my-table {
  height: 80%;
  width: 80%;
  background-color: var(--bg-light);
  border-radius: 10px;
}

.meal-row {
  height: 36px;
}

.meal-col {
  line-height: 46px;
}

.meal-col span {
  padding: 5px;
  height: 100%;
}

.remove-btn {
  background-color: indianred;
}

